# Virtual environments
.venv/
venv/
env/
ENV/

# Python cache and temporary files
__pycache__/
*.pyc
*.pyo
*.pyd
*.py[cod]
*.egg-info/
*.dist-info/

# Secrets / keys
.env
.env.*
*.env

# Ignore everything in uploads
uploads/*

# Allow the examples folder
!uploads/examples/

# Allow everything inside examples
!uploads/examples/**

# macOS / Windows junk
.DS_Store
Thumbs.db

# Editor folders
.vscode/
.idea/